body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.inp{
  border:none;
  width: 20px;
}

.list{
  margin-top: 20px;
}

#count{
  color: silver;
  margin-left: 10px;
}

.App1{
  border-bottom: solid 2px silver;
  height: 60px;
  padding: 0px;
}

.main_div{
    padding: 0px;
}

#img1{
  height: 50px;
  width: 80px;
  margin-left: 20px;
}

.body{
  border-right:solid 2px silver;
  height: 91vh;
  overflow-y: scroll;
  padding: 10px 60px;
  font-size: 16px;
}

.pointer{
  cursor: pointer;
}

.title{
  float: left;
}

.second{
  font-size: 16px;
  overflow-y: scroll;
  height: 91vh;
}

.title{
  margin-top: 20px;
}

.itemTitle{
  cursor: pointer;
}

#img{
  width:300px;
  height: 200px;
}

#btns{
  margin-top: 30px;
  width: 200px;
  height: 35px;
  border: solid 1px black;
}

.modal-body{
  height: 470px;
}

.p{
  margin-top: 10px;
}

